# sshc config example
# copy this file to your ~/.sshc


connection "name" do
    port 22
    user "user"
    host "host"
    path "path/to/dir" # only for sftp command
end

connection "name2" do
    desc "Description"
    compression
    port 22
    user "user"
    host "127.0.0.1"
    local ["8080","localhost","80"]
    remote ["80","localhost","8080"]
end

##### other options that can be included into connection definition
# protocol 2
# x_forwarding
# trusted_x_forwarding
# no_x_forwarding
# no_command
# option "TCPKeepAlive"
# option "ServerAliveCountMax", 3
# command "ls -lh"
# custom ["-2","-N"]
